* { font-family: Times;}

.questions {
  text-decoration: underline;
  color: red;
}

 #titleMe {
   border-style: solid;
   border-radius: 1px;
   text-align: center;
 }

 img {
   border-style: solid;
   border-radius: 2px;
   width: 25%;
   margin: auto;

 }
