* { font-family: Times;}

.questions {
  text-decoration: underline;
  color: red;
}

 #title-me {
   border-style: solid;
   border-radius: 1px;
   text-align: center;
 }

 img {
   border-style: solid;
   border-radius: 2px;
   width: 25%;

}
